name: Common
on:
  workflow_call:
    inputs:
      type:
        required: true
        type: string
      change-log:
        required: false
        type: string

jobs:
  build-common:
    name: Build Common
    runs-on: ubuntu-latest
    environment: Build
    steps:
      -
        name: Checkout
        uses: actions/checkout@v5
      -
        name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'oracle'
          java-version: '21'
          cache: 'gradle'
      -
        name: Build
        run: |
          ./gradlew clean shadowJar --info --stacktrace
      -
        uses: actions/upload-artifact@v5
        with:
          name: VMTUCore-${{ inputs.type }}-${{ github.run_number }}
          path: build/libs